Sorting/Library/
Sorting/Temp/
CrazySorting/unity/CrazySorting/Library/
CrazySorting/src/CrazySorting/obj/
CrazySorting/src/CrazySorting/obj.meta
CrazySorting/unity/CrazySorting/Temp/
CrazySorting/unity/CrazySorting/Assets/src/CrazySorting.dll.mdb
CrazySorting/unity/CrazySorting/Assets/src/CrazySorting.dll.mdb.meta
