Sorting/Library/
Sorting/Temp/
CrazySorting/unity/CrazySorting/Library/
CrazySorting/src/CrazySorting/obj/
CrazySorting/src/CrazySorting/obj.meta
CrazySorting/unity/
!CrazySorting/unity/CrazySorting/Assets/src/CrazySorting.dll
Sorting/Sorting.CSharp.csproj
Sorting/.collabignore
